target/
jsbml.log
.project
.classpath
.settings/
*.log
*~

.idea*
*.iml

\.vscode/

*.factorypath


met4j-core/src/main/java/fr/inra/toulouse/metexplore/met4j_core/Test\.java
/met4j-toolbox/src/main/java/fr/inrae/toulouse/metexplore/met4j_toolbox/sandbox/


dependency-reduced-pom.xml